

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
        background-image: url("../../../static/ui/paperBackgroundVert.png");
    }
    
    .questionAndAnswers{
        display: grid; 
        grid-template-columns: 0.6fr 0.4fr;
        height: 100%;
    }

    
    .questions-view{
       background-color: rgb(232,216,177);
       margin: 0px 100px;
       width: 75vw;
       height: 50vh;
       position: relative;
       display: flex;
       flex-direction: column;
    }
    
    .radius{
        border-radius: 5px;
    }
    
    .categories {
        position: relative;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .categories a{
        font-weight: bold;
        margin: 0px 40px;
        padding: 10px;
        text-decoration: none;
        color: gray;
        transition: 0.2s;
    }
    
    .categories a:hover{
        color: #108ec5;
    }
    
    .questions{
        height: auto;
        width: 90%;
        margin: 50px auto;
        background-color: white;
    }
    
    .questions p{
        padding: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    
    .answers-grid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;    
    }
    
    .answers-question{ 
        background-color: white;
        text-align: center;
        width: 90%;
        font-size: 25px;
        padding: 10px;
        margin: 0px auto 25px;
        transition: 0.2s;
        cursor: pointer;
    }
    
    .answers-question:hover{
        background-color: #108ec5;
        color: white;
    } 
    
    .answers-question-another{
        pointer-events: none !important;
    }
    
    .answers-question-another:hover{
        pointer-events: none !important
    }
    
    .answer-good{
        background-color: green !important ;
        color: black !important;
        cursor: auto;
    }
    
    .answer-bad{
        background-color: tomato !important;
        color: black !important;
        cursor: auto;
    }


    .question-image{
        width: 90%;
        height: 90%;
        margin-top: 5%;
        background-image: url('../../../static/images/character-template-img.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }
