*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }   
   
.radius{
    border-radius: 10px;
}
.office-gamemode-bar-quiz {
    display: flex;
    text-align: center;
    align-self: center;
    width: 100%;
    max-height: 50px;
    font-size: 1.1em;
    font-weight: 600;
}

.office-gamemode-bar-quiz button {
    font-family: 'Courier New', sans-serif;
    border-style: none none solid solid;
    border-color: rgb(175, 164, 126);
    font-size: 1.2em;
    font-weight: 600;
    height: 60px;
    margin-bottom: 10px;
}

.office-gamemode-body-content-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding-top: 2%;
}

.office-gamemode-body-text-quiz {
    height: 75%;
    margin: 0px 2rem;
    padding: 10px 20px;
    background-color: rgb(253, 250, 250);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.office-gamemode-body-text-quiz-question{
    font-size: 18px;
}

.office-gamemode-buttons-quiz {
    display: flex;
    align-content: flex-start;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 100px;
}

.answers{
    position: relative;
    left: 1.5%;
    width: 63.5%;
}

.answers-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;          
}
.answers-grid :nth-child(2),.answers-grid :nth-child(4){
    margin-left: 0;

}    
.answers-question{ 
    background-color: white;
    text-align: center;
    width: 80%;
    font-size: 25px;
    padding: 10px;
    margin: 0px auto 25px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}
    
.answers-question:hover{
    background-color: #108ec5;
    color: white;
} 
    
.answers-question-another{
    pointer-events: none !important;
}
    
.answers-question-another:hover{
    pointer-events: none !important
}
    
.answer-good{
    background-color: green !important ;
    color: black !important;
    cursor: auto;
}
    
.answer-bad{
    background-color: tomato !important;
    color: black !important;
    cursor: auto;
}

.clock-position{
    width: 35%;
    padding-left: 1.1%;
}

.clock{
    margin-top: 25px;
}



@media(max-width: 1040px) {
    .clock{
    margin-top: 10px;
    width: auto;
}
}






