*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }   
   
#quotesView, #charactersView, .removeClass, .goodAnswer, .office-gamemode-body-content-quotes, .office-gamemode-playbutton-quotes, .office-gamemode-body-content-additional{
    display: none;
}

.playGame{
    display: block !important;
}

.office-gamemode-body-content-quotes-active, .office-gamemode-playbutton-quotes-active, .office-gamemode-body-content-additional-active{
    display: flex !important;
}

.radius{
    border-radius: 10px;
}

.office-gamemode-bar-quiz {
    display: flex;
    text-align: center;
    align-self: center;
    width: 100%;
    max-height: 50px;
    font-size: 1.1em;
    font-weight: 600;
}

.office-gamemode-bar-quiz button {
    font-family: 'Courier New', sans-serif;
    border-style: none none solid solid;
    border-color: rgb(175, 164, 126);
    font-size: 1.2em;
    font-weight: 600;
    height: 60px;
    margin-bottom: 10px;
}

.office-gamemode-body-left{
    margin-top: 40px;
}

.office-gamemode-body-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.office-gamemode-body-quiz {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    height: 630px;
    width: auto;
    background-color: rgb(219, 204, 174);
    box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.2), 10px -10px 0px 5px rgba(219, 204, 174);
    border-radius: 0px 20px 20px 20px;
    font-weight: 600;
}

.office-who-quiz {
    width: 50%;
    background-color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 0px auto 30px;
}

.office-gamemode-body-text-quiz-quotes {
    min-height: 300px;
    max-height: 340px;
    margin: 0px 2rem 30px;
    padding: 10px 20px;
    background-color: rgb(253, 250, 250);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.office-gamemode-character-template-img-quiz {
    position: relative;
    right: 5%;
    background-image: url('/static/images/character-template-img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 130%; /* ~ (img-height / img-width * width) */
    /* (1000 / 750 * 100) */
    border: 2px dashed black;
}

.office-gamemode-body-text-quiz-question{
    font-size: 18px;
    font-style: italic;
}

.answers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;          
}

.answers-grid :nth-child(2),.answers-grid :nth-child(4){
    margin-left: 3%;
}    

.answers-grid :nth-child(1),.answers-grid :nth-child(3){
    margin-right: 3%;
}    

.answers-question{ 
    background-color: white;
    text-align: center;
    width: 80%;
    font-size: 25px;
    padding: 10px;
    margin: 0px auto 25px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}
    
.answers-question:hover{
    background-color: #108ec5;
    color: white;
} 
    
.answers-question-another{
    pointer-events: none !important;
}
    
.answers-question-another:hover{
    pointer-events: none !important
}
    
.answer-good{
    background-color: green !important ;
    color: black !important;
    cursor: auto;
}
    
.answer-bad{
    background-color: tomato !important;
    color: black !important;
    cursor: auto;
}








